.Text {
  font-family: "Proxima Nova";
  text-align: center;
}

.Text h1 {
  font-size: x-large;
  color: green;
}

.Text p {
  font-size: large;
}

.button {
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  background: white;
  border-radius: 15px;
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-align: center;
  font-style: bold;
}

.button:hover {
  background: lightgreen;
}

.box {
  height: 20px;
  width: 20px;

}

img {
  padding: 30px;
}

table {
  margin: auto;
  margin-top: 40px;
  text-align: left;
  border: 1px dotted lightgray;
  padding: 5px;
}

td {
  padding: 5px;
}